{#
/**
 * @file
 * Theme override for Article detail pages.
 */
#}

{% set classes = [
  'node',
  'node--type-article',
  'article-detail',
  'node--view-mode-full',
] %}

<article{{ attributes.addClass(classes) }}>
  <div class="article-detail__hero">
    {{ content.field_image }}
  </div>

  <div class="article-detail__meta">
    <div class="article-detail__tags">
      {{ content.field_tags }}
    </div>

    <div class="article-detail__offices">
      {{ content.field_related_offices }}
    </div>
  </div>

  <div class="article-detail__components">
    {{ content.field_content_components }}
  </div>
</article>
